body{
    margin: 0;
}

.header-welcome-bg-box{
    height: 244px;
    background: linear-gradient(#a24f17, transparent),
                url("../../images/1.jpg") no-repeat center/cover;
    background-color: red;
}